body {
  margin: 0;
  padding: 0;

  background-color: #e3e3ec;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

#root {
  background-color: #fafafa;
  box-sizing: border-box;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) {
  #root {
    border-radius: 32px;

    width: 480px;
    height: 844px;
  }
}

.app {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, #fafafa 60%),
    url(https://cdn.pixabay.com/photo/2016/11/29/03/53/house-1867187_960_720.jpg);
  background-position: center;
  background-position: top;
  background-size: 160%;
  background-repeat: no-repeat;
}
