:root {
  --color-black: #1b1b1b;
  --color-grey-background: #e3e3ec;
  --color-white: #fff;
  --color-background: #f6f6f6;
  --color-grey: #bebebe;
}

* {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-grey-background);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  box-sizing: border-box;

  font-family: "Red Hat Display", sans-serif;
}

#root {
  background-color: var(--color-white);
  box-sizing: border-box;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) {
  #root {
    border-radius: 32px;

    width: 480px;
    height: 844px;
  }
}
